@model IEnumerable<BanglaBazarFoodCourt.Models.Entities.Discounts>

@{
    ViewBag.Title = "Discount";
}

<h2>Discount</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food_Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promo.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food_Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteDiscount", new {  FoodID=item.FoodID, PromoID = item.PromoID  })
        </td>
    </tr>
}

</table>
