
@{
    ViewBag.Title = "Index";
}

<h2>Aministration Homepage</h2>

<h3> Currently Working </h3>
<p>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("FoodItems", "FoodItems") </button>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Promotions", "Promotions") </button>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Orders", "Orders") </button>
</p>
<p>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Contains", "Contains") </button>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Discount", "Discount")</button>
</p>

<h3> Employers Choice For Future Functionality </h3>
<p>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Employees", "Employees")</button>
    <!-- <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Supervisors", "Supervisors") </button> -->
</p>

<p>
    <button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Customers", "Customers") </button>
    <!--<button type="button" class="btn btn-default btn-lg">@Html.ActionLink("Phone_Order", "Phone_Order") </button> -->
</p>





