@model IEnumerable<BanglaBazarFoodCourt.Models.Entities.Food_Item>


@{
    ViewBag.Title = "Menus";
}

<h2 class="hdr-custom">@ViewBag.Title</h2>

<div class="container">

    <div class="text-center">
        <div class="btn-group">
            <a class="btn btn-default ft-nav" href="#appetizer">Appetizers</a>
            <a class="btn btn-default ft-nav" href="#entree">Entrées</a>
            <a class="btn btn-default ft-nav" href="#dessert">Desserts</a>
            <a class="btn btn-default ft-nav" href="#drink">Drinks</a>
        </div>
    </div>

    <div class="row">
       
        <a name="#appetizer"></a>
        <h2 class="hdr-custom food-type">Appetizers</h2>

        <a name="entree"></a>
        <h2 class="hdr-custom food-type">Entrées</h2>

        <a name="dessert"></a>
        <h2 class="hdr-custom food-type">Desserts</h2>

        <a name="drink"></a>
        <h2 class="hdr-custom food-type">Drinks</h2>

            @{ 
                
                for (int i = 0; i < Model.Count(); )
                {
                    
                        <div class="col-md-4">
                            @for (int j = 0; j < 3 && i < Model.Count(); j++, i++)
                            {
                                <div class="thumbnail thumbnail-custom">
                                    @{
                                        var base64 = Convert.ToBase64String(Model.ElementAt(i).Picture);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }

                                    <img src="@imgSrc" data-toggle="modal" data-target="#@Model.ElementAt(i).FoodID" width="300" height="300" />
                                    <div class="caption">
                                        <h4 class="hdr-custom" style="text-align:center;">@Model.ElementAt(i).Name</h4>
                                    </div>



                                </div>
                                <!-- modal for detailed information about the food items -->
                                        <div id="@Model.ElementAt(i).FoodID" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-custom">
                                                <!-- food item content -->
                                                <div class="modal-content">
                                                    <div class="modal-header modal-lg">
                                                        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title title-custom">@Model.ElementAt(i).Name</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-6">

                                                                    <img src="@imgSrc" width="300" height="300">
                                                                </div>
                                                                <div class="col-md-6 desc-custom">
                                                                    <i>@Model.ElementAt(i).Description</i>
                                                                    <p><p>
                                                                        <h4 class="price"><b>$@Model.ElementAt(i).Price&emsp;</b><a class="btn btn-default btn-custom" href="#" role="button">Order</a></h4>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        }
                        </div>
                    
                    

                }
             }


      </div>

    
</div>